  <% if @user %>
  <h1>Welcome!You are logged in</h1>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Github UID: <%= @user.uid %></h2>
  
  <% else %>
  <%= button_to "Log in with Github", "/auth/github" %>
  <h1>New User Register</h1>
  <%= form_tag '/login' do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Register" %>
    <h1>Login without Github</h1>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  <% end %>

<% end %>



  