  <% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Github UID: <%= @user.uid %></h2>
  
  <% else %>
<%= button_to('Log in with Github!', '/auth/github', method: :post) %>
# button will send a post request
# for the forgery protection to work we need to change to post request
#  for the authenticity token 
  <% end %>


  # current_user = session[:user_id]

  <%= link_to('Log in without Github', '/user/home', method: :get) %>